<mat-card>
  <form #withdrawalForm="ngForm" (ngSubmit)="withdraw(withdrawalForm.value)">
    <mat-card-header>
      <mat-card-title>Withdraw Money</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field>
        <input matInput placeholder="amount" [(ngModel)]="amount" name="amount">               
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit">Withdraw</button>
    </mat-card-actions>
  </form>
</mat-card>

<h2>Atm Response for Withdrawal</h2>

<div >
  <pre>{{response | json}}</pre>
</div>
