<mat-toolbar color="primary">
  <span>Welcome to {{title}}</span>
</mat-toolbar>

<button mat-button color="primary" [routerLink]="['/atm-initialize']">Initialize</button>
<button mat-button color="primary" [routerLink]="['/atm-noteinfo']">Get Note Info</button>
<button mat-button color="primary" [routerLink]="['/atm-withdraw']">Withdraw</button>

<router-outlet></router-outlet>
