<mat-card>
	<form #initializationForm="ngForm" (ngSubmit)="initialize(initializationForm.value)">
		<mat-card-header>
			<mat-card-title>Initialize Atm</mat-card-title>
		</mat-card-header>
		<mat-card-content>
			<mat-form-field>
				<input matInput placeholder="amount of 50 notes" [(ngModel)]="amountOf50Notes" name="amountOf50Notes">               
			</mat-form-field>
		</mat-card-content>
		<mat-card-content>
			<mat-form-field>
				<input matInput placeholder="amount of 20 notes" [(ngModel)]="amountOf20Notes" name="amountOf20Notes">               
			</mat-form-field>
		</mat-card-content>
		<mat-card-actions>
			<button mat-raised-button color="primary" type="submit">Initialize</button>
		</mat-card-actions>
	</form>
</mat-card>

<h2>Atm Response for Initialization</h2>

<div >
	<pre>{{response | json}}</pre>
</div>
