<mat-card>
  <form #withdrawalForm="ngForm" (ngSubmit)="noteinformation()">
    <mat-card-header>
      <mat-card-title>Get Current Note Information</mat-card-title>
    </mat-card-header>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit">Refresh</button>
    </mat-card-actions>
  </form>
</mat-card>

<h2>Atm Response for Note Info</h2>

<div >
  <pre>{{response | json}}</pre>
</div>